@import "main.scss";

#certificados {

    background-color: $light-black;
    width: 90%;
    margin: 0 auto;

    h1 {

        color: white;
        text-align: center;
        padding-top: 50px;
        margin-top: 60px;
        font-size: 35px;
        font-family: 'Roboto Mono', monospace;
    }

    #certificados-area {

        display: flex;
        justify-content: center;

        .cards {
            
            width: 400px;
            border-radius: 10px;
            background-color: $light-black;
            box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.8);
            font-size: 100px;
            text-align: center;
            margin: 50px 0 80px 0;
            padding-top: 50px;

            &:hover {

                background-color: rgba(192, 192, 209, 0.075);
                transition: .4s ease-in;
              }

            h2 {

                color: #585b5fa4;
                margin-top: 10px;
                font-size: 30px;
                font-family: 'Roboto Mono', monospace;
            }
            
            #area-2 {

                height: 230px;

                p {
                    color: white;
                    font-size: 18px;
                    margin: 20px auto 0 auto;
                    width: 300px;
                    font-family: 'Inconsolata', monospace;
                }

                a {
                    color: white;
                    border: 2px solid white;
                    border-radius: 10px;
                    padding: 10px 35px;
                    font-size: 17px;
                    text-decoration: none;
                    font-family: 'Inconsolata', monospace;

                    &:hover {

                        background-color: whitesmoke;
                        color: black;
                        transition: .6s ease;
                    }
                }
            }

        }
    }
}