@import "main.scss";

#habilidades {

    background-color: $light-black;
    width: 90%;
    margin: 0 auto;
    
    h1 {

        color: white;
        text-align: center;
        padding-top: 50px;
        margin-top: 60px;
        font-size: 35px;
        font-family: 'Roboto Mono', monospace;
       
    }

    #cards-area {

      margin: 0 auto 0 auto;
      width: 1200px;
      height: 600px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
      .cards {
                
        height: 130px;
        width: 150px;
        padding: 10px;
        margin: 0 30px 10px auto;
        border: 1px solid white;
        border-radius: 10px;
        font-size: 35px;
        text-align: center;
        background-color: $light-black;

            p {

            color: rgba(255, 255, 255, 0.452);
            font-size: 28px;
            margin-top: 15px;

            }

            &:hover {

                border: 1px solid $dark-black;
                background-color: $dark-black;
                box-shadow: 2px 2px 2px 2px black;
                transition: .4s ease-in;
            }

        }

        .cards-row {
            display: flex;
            justify-content: center;
            align-items: center;                
        }

        .cards-row-02 {
            display: flex;
            margin-top: 40px;
            
        }
       
    }

  