@media (max-width: 720px) {
   
   body {
      overflow-x: hidden;
   }

   #navbar {
      justify-content: space-around;

      h1 {
         padding: 0;
      }
   }
   
    .nav-items {
      display: none;
    }

    .mobile-menu-icon {
      display: block;
      margin-right: 50px;

      button {
         background-color: transparent;
         border: none;
         cursor: pointer;
      }
  }
  
  .mobile-menu {
        
   .nav-items-mobile {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;

      .nav-item-mb {
         display: block;
         padding-top: 1.2rem;
         color: white;
         text-decoration: none;
         font-size: 20px;
      }
   }

  }

  .open {
   display: block;
 }

    #right-size {
        display: none;
     }

     #main {
         
         #left-size {
         margin-left: 15px;
         padding: 0px;

         p {
            width: 300px;
         }

         #area_social-medias {
            gap: 50px;
         }
         
         .social-medias {
            
            a {
               width: 40px;
               display: flex;
               align-items: center;
               justify-content: center;
               text-decoration: none;
            }
         }
         
      }
   }

   /*---- Habilidades ---- */

   #habilidades {
     
      width: 300px;
      height: 900px;
      
      #cards-area {
         width: 100%;
         padding-left: 15px;
         height: 0px;
         display: flex;

         .cards-row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center; 
            align-items: center; 
          
         }

         .cards-row-02 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            margin: 0px;
         }

         .cards {
            height: 100px;
            width: 98px;
            font-size: 35px;
            margin-top: 20px;

            p {
               font-size: 20px;
            }
            img {
               width: 32px;
            }
            
         }
         
       }
   } 
   
   /*---- Projetos ---- */

   #projetos {
      width: 300px;
      
      .card-projetos {

         img {
            width: 230px; 
         }
      }
   }

/*---- Certificados ---- */

#certificados {
   #certificados-area {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
     .cards {
      margin-top: 15px;
      
      h2 {
         font-size: 25px;
      }
      img {
         width: 120px;
      }
   
     }
     
   }
}
   /*---- Footer ---- */
   footer {
      h1 {
         margin: 0;
      }
   }
}
@media (min-width: 720px) and (max-width: 1280px) {
   body {
      overflow-x: hidden;
   }

   .mobile-menu-icon {
      display: none;
      button {
         background-color: transparent;
         border: none;
         cursor: pointer;
      }
  }
   .nav-items {
      .nav-item {
         font-size: 17px; 
      }
   }

   #right-size {
       display: none;
    }

    #main {
      
     #left-size {
      justify-content: center;
      
      p {
         font-size: 23px;
      }
        
        .social-medias {
          padding: 8px;
          height: 35px;

         i {
            font-size: 35px;
            margin-left: 13px;
            width: 50px;
         }
        }
     }
  }

  /*---- Habilidades ---- */

  #habilidades {
     height: 700px;

     #cards-area {
        width: 350px;
        display: flex;
   
        .cards-row {
           justify-content: center;
           margin-left: 30px;
        }

        .cards-row-02 {
           justify-content: center;
           margin-left: 30px;
        }

        .cards {
           width: 85px;
           height: 130px;
           font-size: 35px;

           p {
            font-size: 20px;
           }

           img {
            width: 35px;
           }
           
        }
        
      }
  } 

  /*---- Projetos ---- */

  #projetos {
      width: 600px;
   }

   #certificados {

      #certificados-area {
        .cards {
         width: 200px;
         height: 500px;
        
         img {
            width: 100px;
           }
         h2 {
            font-size: 20px;
            height: 50px;
            padding-bottom: 20px;
         }
         .area-2 {
            height: 300px;
            p {
               width: 140px;
               font-size: 15px;
               padding-bottom: 35px;
               
            }

            a {
               padding: 10px;
               font-size: 15px;
            }
         }
         
        }
        
      }
   }

}